.averageTemp {
  margin: auto;
  margin-top: 1rem;
  color: white;
  font-size: 2em;
}
h3 {
  color: white;
}
p.mat-line {
  padding-top: 1rem !important;
  margin: auto !important;
  height: 60px !important;
}
.icon {
  vertical-align: center !important;
}
