:host .gradient {
  --gradient-color: linear-gradient(
    to right,
    red 0%,
    #ff0 17%,
    lime 33%,
    cyan 50%,
    blue 66%,
    #f0f 83%,
    red 100%;
  );
  background: var(--gradient-color);
}
.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding-top: 3rem;
  height: 100%;
}
.weather {
  display: flex;
  flex: auto;
  background: none;
  flex-direction: column;
  height: 100%;
}
.mat-card {
  margin: 0 auto;
}
.header {
  margin-bottom: 3rem;
}
.temp_wrapper {
  display: flex;
  flex-direction: row;
  font-size: medium;
  font-variant: bold;
}
.temp_min {
  position: absolute;
  left: 1rem;
  margin-top: 0.5rem;
  color: darkblue;
}
.temp_max {
  position: absolute;
  right: 1rem;
  margin-top: 0.5rem;
  color: lightcoral;
}
