<mat-card class="card">
  <mat-card-title class="title"
    ><mat-icon>location_on</mat-icon><br />{{ item.city }}
  </mat-card-title>
  <mat-card-subtitle>{{ item.day }} {{ item.hour }}</mat-card-subtitle>
  <mat-card-content>
    <div class="main">
      <img
        src="http://openweathermap.org/img/wn/{{ item.icon }}.png"
        class="icon"
      />
      <span class="temp" [innerHTML]="item.temperature + CELSIUS"></span>
    </div>
    <div class="additional">
      <span>{{ item.temp_min }} / {{ item.temp_max }}</span>
      <span
        class="feels"
        [innerHTML]="'Feels like ' + item.feels_like + CELSIUS"
      ></span>
    </div>
    <div class="description">
      <span>{{ item.description }}</span>
    </div>
  </mat-card-content>
</mat-card>
